<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% include header.html %>
    <p>
      <%= title%> , la plataforma líder de compraventa en productos de Segunda mano.
    </p>
    <h2>Artículos Destacados</h2>

    <div class="listado">

      <% anuncios.forEach(anuncios=>{%>
        <h3>Anuncio</h3>
        <p>Imagen:<img src="./images/<%=anuncios.foto %>"> </p>
        <p>Nombre:<%= anuncios.nombre %>
        </p>
        <p>Venta:<%= anuncios.venta %>
            Precio:<%= anuncios.precio %>
        </p>
        <p>tags:<%= anuncios.tags %>
        </p>
        <% }) %>
    </div>

    <% include footer.html %>
</body>

</html>